@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é
*/
body{
    background-color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1{
    color: rgba(52, 120, 39, 0.799);
}

h1#Principal{
    text-align: center;
    color: white;
    background-image: linear-gradient(to left ,rgb(95, 190, 72), rgba(83, 59, 181, 0.724));
}

.basico{
    color: rgb(4, 223, 4);
}

.intermediario{
    color: rgb(219, 187, 8);
}

.avancado{
    color: rgb(219, 8, 8);
}
h2{
    color: darkgreen;
}