body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
   width: 400px;
   border-collapse: collapse;
   text-align: center;
}

tr{
    background-color: cadetblue;
}

td{
    border: 1px solid black;
    padding: 10px;
}
#teste {
    padding: 20px;
    color: blueviolet;
    background-color: rgb(147, 202, 250);
    text-align: center;
}