@charset "UTF-8";

div{
    height: 300px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    background-color: blueviolet;
}


div:hover{
    background-color: darkblue;
}

